.container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-container {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.Selected-Image {
  width: 100%;
}
.heading {
  font-size: 15px;
  color: #1e293b;
  margin-bottom: 10px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 30px;
  }
}
.description {
  font-size: 10px;
  color: #64748b;
}
@media screen and (min-width : 768px){
  .description{
    font-size: 20px;
  }
}
.icon-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}
